.dot {
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(http://www.clipartqueen.com/image-files/red-lobed-fall-clipart-leaf.png);
    background-size: 100% 100%;
}


/*for the video*/

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(sunset.jpg) no-repeat;
    background-size: cover;
}

.card-pic2 {
    max-width: 650px;
    height: 750px;
    overflow: hidden;
    align-content: center;
}

.card-pic2 img {
    align-content: center;
    min-height: 82%;
    min-width: 88%;
}

.card-pic3 {
    max-width: 750px;
    height: 750px;
    overflow: hidden;
    align-content: center;
}

.card-pic3 img {
    align-content: center;
    min-height: 82%;
    min-width: 88%;
}

.card-pic-big {
    max-width: 750px;
    height: 450px;
    overflow: hidden;
    align-content: center;
}

.card-pic-big img {
    align-content: center;
    min-height: 100%;
    min-width: 88%;
}

#pie-history {
    width: 700px;
    height: 800px;
}